<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>login</title>
    <!-- 根据项目访问名变而变 -->
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/static/asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="dashboard.html" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">商品共享平台</h1>
    <span style="color:red" th:if="${#session.getAttribute('msg') != null}" th:text="${#session.getAttribute('msg')}"></span>
    <label class="sr-only">用户名</label>
    <input type="text" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    <label class="sr-only">密码</label>
    <input type="password" name="password" class="form-control" placeholder="密码" required="">
<!--    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>-->
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录"/>
</form>
</body>
</html>