<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/admin/index::header}"></div>
<body>
<div class="row">
    <div class="col-md-10">
        <h2>商品详情页面</h2>
    </div>
    <div class="col-md-2">
        <a th:href="@{/admin/to_commodities}" class="btn btn-default" role="button">
            <span style="color:gray">返回</span>
        </a>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="saveTagModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改标签</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="saveTags">
                    <table id="tagInfo" class="table table-hover">

                    </table>
                </form>
                <div class="row">
                    <input type="button" class="btn btn-primary" id="addTagBut" value="新增一个标签" onclick="addTagElm()">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveTags()">保存标签</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="row">
    <div class="col-md-12">
        <table class="table" id="commodity_table">
            <tr id="id">
                <th>Id</th>
                <td id="commodityId">[[${commodity == null?"":commodity.commodityId}]]</td>
                <td></td>
            </tr>
            <tr id="commodityName">
                <th>商品名:</th>
                <td>[[${commodity == null?"":commodity.commodityName}]]</td>
                <td> </td>
            </tr>
            <tr id="commodityStatus">
                <th>商品状态:</th>
                <td>[[${commodity == null?"":commodity.commodityStatus}]]</td>
                <td> </td>
            </tr>
            <tr id="commodityNum">
                <th>商品数量:</th>
                <td>[[${commodity == null?"":commodity.commodityNum}]]</td>
                <td> </td>
            </tr>
            <tr id="commodityUser">
                <th>发布用户:</th>
                <td>[[${commodity == null?"":commodity.commodityUserName}]]</td>
                <td> </td>
            </tr>
            <tr id="commodityTags">
                <th>商品类型标签:</th>
                <td>[[${commodity == null?"":commodity.commodityTag}]]</td>
                <td>
                    <input type="button" class="btn btn-info" value="添加标签" onclick="" data-toggle="modal" data-target="#saveTagModal">
                </td>
            </tr>
            <tr id="commodityQuality">
                <th>商品质量:</th>
                <td>[[${commodity == null?"":commodity.commodityQuality}]]</td>
                <td> </td>
            </tr>
            <tr id="commodityDetails">
                <th>商品介绍:</th>
                <td>[[${commodity == null?"":commodity.commodityDetails}]]</td>
                <td> </td>
            </tr>
            <tr id="commodityCreateDate">
                <th>创建日期:</th>
                <td>[[${commodity == null?"":commodity.commodityCreateDate}]]</td>
                <td> </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="~{/admin/index::js}"></div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    //项目地址
    var PROJECT_PATH = [[${#httpServletRequest.getContextPath()}]];

    $(document).ready(function(){
        //模态框初始化
        getTags($("#commodityId").text());
    });

    //创建一个元素
    function addTagElm(tag) {
        if(tag == null && tag == undefined){
            tag =  "";
        }
        //1、获取#tagInfo中有多少个td元素
        var tagTable = $("#tagInfo");
        var tdTags = $("#tagInfo td");
        var tagText = $("<input type='text' class='form-control class-tag' value='"+ tag +"'>");

        if (tdTags.length <= 3){
            if (tdTags.length == 0){
                var childTagNull = $("<option value=''></option>").append("");
                var childTag1 = $("<option value='生活便利'></option>").append("生活便利");
                var childTag2 = $("<option value='服装装扮'></option>").append("服装装扮");
                var childTag3 = $("<option value='休闲娱乐'></option>").append("休闲娱乐");
                var childTag4 = $("<option value='电子设备'></option>").append("电子设备");
                var childTags = new Array();
                childTags.push(childTag1);
                childTags.push(childTag2);
                childTags.push(childTag3);
                childTags.push(childTag4);

                var trTag = $("<tr></tr>");
                var tdTag = $("<td></td>");

                $.each(childTags,function(index,childTag){
                    if (childTag.val() == tag){
                        childTag.attr("selected","selected");
                        return;
                    }
                });

                var fristTag = $("<select class='form-control class-tag'></select>").append(childTagNull)
                    .append(childTag1)
                    .append(childTag2)
                    .append(childTag3)
                    .append(childTag4);
                trTag.append(tdTag.append(fristTag)).appendTo(tagTable);

            }else{
                var tdTag = $("<td></td>");
                $("#tagInfo>tr:eq(0)").append(tdTag.append(tagText));
            }
        }else{
            alert("最多只能添加四个标签");
        }
    }

    // function cleanTagInfo(){
    //     //1、清理#tagInfo中的内容
    //     $("#tagInfo").empty();
    // }

    //发送保存标签信息请求
    function saveTags(){
        var commodityId = $("#commodityId").text();
        var  tagarr = $(".class-tag");
        var tags = "";
        $.each(tagarr,function(index,tag){
            if (index == tagarr.length-1){
                tags += $(tag).val().trim();
                return;
            }
            tags += $(tag).val().trim() + ",";
        });

        $.ajax({
            url:PROJECT_PATH+"/admin/commodityTags/"+commodityId,
            dataType: "json",
            type:"post",
            data:{"_method":"PUT",
                "commodityTags":tags},
            success:function(date){
                //关闭模态框
                $("#saveTagModal").modal("hide");
                alert("保存标签成功");
                //刷新当前页
                window.location.href = PROJECT_PATH + "/admin/to_commodity_select/" + commodityId;
            }
        });
    }

    //发送请求获取并添加标签模态框元素
    function getTags(commodityId){
        $.ajax({
            url: PROJECT_PATH+"/admin/commodityTags/"+commodityId,
            dataType: "json",
            type:"get",
            success:function(result){
                var tags = result.data;
                if (tags != null && tags != "" && tags != undefined){
                    var tagsArr = tags.split(",");
                }
                buildTagsElm(tagsArr);
            }
        });
    }

    //生成模板元素
    function buildTagsElm(tagsArr){
        $.each(tagsArr,function(index, tag){
            addTagElm(tag);
        });
    }
    /*]]>*/
</script>
</html>