<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/admin/index::header}"></div>
<body>
<div class="row">
    <div class="col-md-10">
        <h2>订单详情页面</h2>
    </div>
    <div class="col-md-2">
        <a th:href="@{/admin/to_orders}" class="btn btn-default" role="button">
            <span style="color:gray">返回</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="order_table">
            <tr id="id">
                <th>Id</th>
                <td>[[${order == null?"":order.orderId}]]</td>
            </tr>
            <tr id="orderName">
                <th>订单名:</th>
                <td>[[${order == null?"":order.orderName}]]</td>
            </tr>
            <tr id="orderPubUserName">
                <th>买家用户:</th>
                <td>[[${order == null?"":order.orderPubUserName}]]</td>
            </tr>
            <tr id="orderUserName">
                <th>卖家用户:</th>
                <td>[[${order == null?"":order.orderUserName}]]</td>
            </tr>
            <tr id="orderCommodityName">
                <th>商品名:</th>
                <td>[[${order == null?"":order.orderCommodityName}]]</td>
            </tr>
            <tr id="orderCommodityNum">
                <th>商品名:</th>
                <td>[[${order == null?"":order.orderCommodityNum}]]</td>
            </tr>
            <tr id="orderCommodityTotal">
                <th>商品名:</th>
                <td>[[${order == null?"":order.orderCommodityTotal}]]</td>
            </tr>
            <tr id="orderCode">
                <th>订单编号:</th>
                <td>[[${order == null?"":order.orderCode}]]</td>
            </tr>
            <tr id="orderStatusMsg">
                <th>订单状态:</th>
                <td>[[${order == null?"":order.orderStatusMsg}]]</td>
            </tr>
            <tr id="orderAddr">
                <th>订单发送地址:</th>
                <td>[[${order == null?"":order.orderAddr}]]</td>
            </tr>
            <tr id="orderArriveAddr">
                <th>订单送达地址:</th>
                <td>[[${order == null?"":order.orderArriveAddr}]]</td>
            </tr>
            <tr id="orderBeginRentTime">
                <th>租借开始时间:</th>
                <td>[[${order == null?"":#dates.format(order.orderBeginRentTime,"yyyy-MM-dd")}]]</td>
            </tr>
            <tr id="orderEndRentTime">
                <th>租借结束时间:</th>
                <td>[[${order == null?"":#dates.format(order.orderEndRentTime,"yyyy-MM-dd")}]]</td>
            </tr>
            <tr id="orderBackTime">
                <th>退货时间:</th>
                <td>[[${order == null?"":#dates.format(order.orderBackTime,"yyyy-MM-dd")}]]</td>
            </tr>
            <tr id="orderReturnTime">
                <th>退货时间:</th>
                <td>[[${order == null?"":#dates.format(order.orderReturnTime,"yyyy-MM-dd")}]]</td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="~{/admin/index::js}"></div>
</body>
</html>